@import "../../../vars";

.btn {
  padding: 1rem 3rem;
  font-size: 2rem;
  text-decoration: none;
  color: $white;

  background: $lavender;
  border-radius: .5rem;

  transition: all .3s linear 0s;
  &:hover {
    color: $black;
  }
}