@import "../../vars";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.modal {
  z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.5);
}

.modal__btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  opacity: .3;
  transition: all .1s linear 0s;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    position: absolute;
    left: 1rem;
    content: '';
    height: 2rem;
    width: .13rem;
    background: $lavender;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.modal__content {
  z-index: 100;
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 54rem;
  max-width: 100%;
}

.modal__part {
  flex: 1;
  padding: 3rem;

  &_left {
    background: $white;
    color: $black;
  }

  &_right {
    background: $black;
  }
}

.modal__title {
  margin-bottom: .5rem;

  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  color: $lavender;
}

.modal__subtitle {
  margin-bottom: 1rem;

  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4em;
  letter-spacing: .1rem;

  span {
    font-style: normal;
    color: $lavender;
  }
}

.modal__info {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.4em;
}

//// contact-form
.contact-form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.4rem;
    letter-spacing: .1rem;
  }
}

.contact-form__field {
  margin: .5rem 0 1rem;
  padding: .5rem;
  flex: 1;
  width: 100%;

  background: $lavender-lite;
  border-radius: 1rem;
}

.contact-form__btn {
  align-self: center;
  max-width: 12rem;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  border-radius: 1rem;
  cursor: pointer;
  background: $lavender;
  color: $white;

  transition: all .3s linear 0s;
  &:hover {
    color: $black;
  }
}