.works {
  background: #000;
  color: #fff;
}

.works__title,
.works__last-word {
  padding: 3rem 0;
  text-align: center;
  font-size: 3rem;
}

.works__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//// card
.card {
  position: relative;

  &:not(&:last-child) {
    margin-bottom: 3rem;
  }

  &:hover {
    img {
      opacity: 1;
    }

    .card__name {
      opacity: 0;
    }

    .card__details {
      opacity: 1;
    }
  }
}

.card__bg {
  max-width: 60rem;
  width: 100%;
  background: linear-gradient(to bottom, #000, #fff);

  img {
    max-width: 60rem;
    width: 100%;
    display: block;
    opacity: .1;

    transition: all .3s linear 0s;
  }
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.card__name,
.card__details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3rem;

  transition: all .3s linear 0s;
}

.card__details {
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.card__link {
  padding: 1rem 3rem;
  text-decoration: none;
  color: #fff;

  background: #000;
  border-radius: .5rem;

  &:not(&:last-child) {
    margin-bottom: 1rem;
  }

  &:hover {
    text-decoration: underline;
  }
}