@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.works {
  background: #000;
  color: #fff;
}

.works__title {
  margin-bottom: .5rem;
}

.works__title,
.works__last-word {
  padding: 4rem 0 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
}

@-webkit-keyframes blink {
  0% {color: rgba(190, 140, 217, 1)}
  50% {color: rgba(190, 140, 217, 0)}
  100% {color: rgba(190, 140, 217, 1)}
}

@keyframes blink {
  0% {color: rgba(190, 140, 217, 1)}
  50% {color: rgba(190, 140, 217, 0)}
  100% {color: rgba(190, 140, 217, 1)}
}

.works__subtitle {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .09rem;

  animation: blink 1.5s linear infinite;
  -webkit-animation: blink 1.5s linear infinite;
}

.works__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}