@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.works {
  background: #000;
  color: #fff;
}

.works__title {
  margin-bottom: .5rem;

}

.works__title,
.works__last-word {
  padding: 4rem 0 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
}

.works__subtitle {
  margin-bottom: 3rem;
  color: #e0b0ff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .09rem;
}

.works__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}