@import "../../vars";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.intro {
  background: url("./me.png") 77% 50% / 30% auto no-repeat,
              url("./bg.jpg") no-repeat center;
  background-size: 30%, cover;

  display: flex;
  flex-direction: column;

  padding: 4rem 6rem;
  min-height: 100vh;

  color: $lavender;

  @media #{$tablet-sm} {
    background: url("./bg.jpg") no-repeat center;
    background-size: cover;
  }

  @media #{$mobile} {
    justify-content: center;
    align-items: center;
  }
}

.intro__header {
  display: flex;
  justify-content: flex-end;

  font-size: 3rem;
}

.intro__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__info {
  @media #{$mobile} {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro__name {
  font-family: 'Kaushan Script', cursive;
  font-size: 7rem;
  @media #{$mobile} {
    margin-bottom: 2rem;
  }
}

.intro__prof {
  margin-bottom: 3rem;
  font-size: 2rem;
  letter-spacing: .1rem;
  color: $white;
}

//// header
.header__link {
  text-decoration: none;

  &:not(&:last-child) {
    margin-right: 2rem;
  }

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $lavender;
    transition: width .3s linear;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

//// networks
.networks {
  display: flex;
  flex-direction: column;

  @media #{$mobile} {
    display: none;
  }
}

.networks__link {
  width: 4.5rem;

  &:not(&:last-child) {
    margin-bottom: 2rem;
  }

  transition: all .2s linear 0s;
  &:hover {
    transform: scale(1.15);
  }
}