@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@700&display=swap');

.intro {
  background-size: cover;

  padding: 4rem 6rem;
  min-height: 100vh;
}

.intro__header {
  margin-bottom: 7rem;
  display: flex;
  justify-content: flex-end;

  font-size: 3rem;
}

.intro__content {
  display: flex;
  justify-content: space-between;
}

.intro__name {
  font-family: 'Big Shoulders Inline Display', cursive;
  font-size: 8rem;
}

.intro__prof {
  margin-bottom: 3rem;
  font-size: 2rem;
}

//// header
.header__link {
  text-decoration: none;

  &:not(&:last-child) {
    margin-right: 2rem;
  }

  &:hover {
    text-decoration: underline;
  }
}

//// networks
.networks {
  display: flex;
  flex-direction: column;
}

.networks__link {
  width: 4rem;

  &:not(&:last-child) {
    margin-bottom: 2rem;
  }

  transition: all .2s linear 0s;
  &:hover {
    transform: scale(1.15);
  }
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 60ch;
  min-height: 60ch;
  width: 45vw;
  height: 45vw;
  max-width: 100ch;
  max-height: 100ch;
  background-image: url(https://image.flaticon.com/icons/svg/119/119596.svg);
}

.card2 {
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/789/789395.svg);
}

.card3 {
  opacity: 0.9;
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
}

.card4 {
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/789/789392.svg);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
