@import "../../vars";

.footer {
  padding: 3rem 0;
}

.footer__networks {
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
}

.footer__link {
  font-size: 2rem;
  text-decoration: none;

  transition: color .3s linear;

  &:not(&:last-child) {
    margin-right: 2rem;
  }

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: $white;
    transition: all .3s linear;
  }

  &:hover {
    color: $lavender;
    &:after {
      width: 100%;
      background-color: $lavender;
    }
  }
}

.footer__contact {
  text-align: center;
  font-size: 1.6rem;

  span {
    color: $lavender;
  }
}