$white: #ebdff1;
$black: #131212;
$lavender: #ad60d9; //#be8cd9
$lavender-lite: #be8cd9;

$laptop: '(max-width: 1366px)';
$tablet: '(max-width: 991px)';
$tablet-sm: '(max-width: 767px)';
$mobile: '(max-width: 479px)';